.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail {
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
}
.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
  display: inline-block;
}
.item.list-group-item .caption {
  float: left;
  width: 70%;
  margin: 0;
}
.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}
.item.list-group-item:after {
  clear: both;
}
.footer {
  min-height: 30px;
  width: 100%;
  background-color: #222d68;
}
.footer .copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^=col-], .row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.control-btns .btn {
  border: none;
  outline: none;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  width: 110px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px !important;
}
.control-btns .btn:last-child {
  margin-right: 0px;
}
.card .price {
  font-weight: 500;
}
.item .thumbnail.card:hover {
  box-shadow: 0px 0px 20px -1px rgb(99, 99, 99);
}
.item img {
  cursor: pointer;
  background: #fff;
}
.filter .btn.btn-info.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.filter .btn.btn-info {
  background-color: #222d68;
}
.top-menu .navbar-toggler {
  border-color: #bd2130;
}
.top-menu .navbar-toggler .navbar-toggler-icon .fa.fa-navicon {
  color: #222d68;
  padding: 5px;
}

.checkout .col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.checkout .col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.checkout .col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.checkout .col-25,
.checkout .col-50,
.checkout .col-75 {
  padding: 0 16px;
}

.checkout .container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.checkout input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkout label {
  margin-bottom: 10px;
  display: block;
}

.checkout .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkout .checkoutBtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkout .checkoutBtn:hover {
  background-color: #45a049;
}

/* .checkout a {
  color: #2196F3;
} */

hr {
  border: 1px solid lightgrey;
}

.checkout span.price {
  float: right;
  color: grey;
}
.w-81 {
  width: 81%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .checkout .row {
      flex-direction: column-reverse;
  }

  .checkout .col-25 {
      margin-bottom: 20px;
  }
}




