<!DOCTYPE html>
<html lang="en">

<head>
    <title>TopView® New York City Tours</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body class="checkout">
    <nav class="top-menu navbar navbar-expand-md navbar-dark fixed-top bg-white no-gutters">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="https://www.topviewnyc.com/content/distribution/assets/img/topview_color.svg" alt="" style="height: 32px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Bikes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Electric Bikes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="#">Rentals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Contact</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-info btn-danger btn-sm ml-0" href="cart.html">
                        <i class="fa fa-shopping-cart"></i> Cart
                        <span class="badge badge-light cart-count">0</span>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <br>
    <script type="text/template" class="shopping-list-template">
            <h4>Cart <span class="price cartTotal" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
            <hr/>
            <%
                _.each(cartItems, function(item) {
            %>
            <p class="cartItem"><%- item.name %><span class="price">$<%- item.price %></span></p>
            <%
                })
            %>
            <hr>
            <p>Total <span class="price total" style="color:black"><b>$30</b></span></p>
    </script>
    <div class="container-fluid mt-5">
        <div class="row no-gutters">
            <h1 class="mt-1">Check out</h1>
        </div>
    </div>
    <div class="container-fluid mb-5 p-4" style="background-color: #f6f7fa">
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <div class="row">
                        <div class="col-50 mt-2">
                            <h3 class="mb-3">Billing Address</h3>
                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input type="text" class="m-0" id="fname" name="firstname" placeholder="Ex: John M. Doe">
                            <div class="invalid-feedback fname">Enter valid full name please.</div>
                            <label for="email" class="mt-4"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" class="m-0" id="email" name="email" placeholder="Ex: john@example.com">
                            <div class="invalid-feedback email">Enter valid email please.</div>
                            <label for="adr" class="mt-4"><i class="fa fa-address-card-o"></i> Address</label>
                            <input type="text" class="m-0" id="adr" name="address" placeholder="Ex: 542 W. 15th Street">
                            <div class="invalid-feedback adr">Enter valid address please.</div>
                            <label for="city" class="mt-4"><i class="fa fa-institution"></i> City</label>
                            <input type="text" class="m-0" id="city" name="city" placeholder="Ex: New York">
                            <div class="invalid-feedback city">Enter valid city please.</div>

                            <div class="row">
                                <div class="col-50">
                                    <label for="state" class="mt-4">State</label>
                                    <input type="text" class="m-0" id="state" name="state" placeholder="Ex: NY">
                                    <div class="invalid-feedback state">Enter valid state please.</div>
                                </div>
                                <div class="col-50">
                                    <label for="zip" class="mt-4">Zip</label>
                                    <input type="text" class="m-0" id="zip" name="zip" placeholder="Ex: 10001">
                                    <div class="invalid-feedback zip">Enter valid zip please.</div>
                                </div>
                            </div>
                            <hr>
                            <h3>Payment</h3>
                            <label for="fname">Accepted Cards</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="cname" class="mt-4">Name on Card</label>
                            <input type="text" class="m-0" id="cname" name="cardname" placeholder="Ex: John More Doe">
                            <div class="invalid-feedback cname">Enter valid name on card please.</div>
                            <label for="ccnum" class="mt-4">Credit card number</label>
                            <input type="text" class="m-0" id="ccnum" name="cardnumber" placeholder="Ex: 1111-2222-3333-4444">
                            <div class="invalid-feedback ccnum">Enter valid card number please.</div>
                            <label for="expmonth" class="mt-4">Exp Month</label>
                            <input type="text" class="m-0" id="expmonth" name="expmonth" placeholder="Ex: September">
                            <div class="invalid-feedback expmonth">Enter valid expire month please.</div>
                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear" class="mt-4">Exp Year</label>
                                    <input type="text" class="m-0" id="expyear" name="expyear" placeholder="Ex: 2018">
                                    <div class="invalid-feedback expyear">Enter valid expire year please.</div>
                                </div>
                                <div class="col-50">
                                    <label for="cvv" class="mt-4">CVV</label>
                                    <input type="text" class="m-0" id="cvv" name="cvv" placeholder="Ex: 352">
                                    <div class="invalid-feedback cvv">Enter valid cvv please.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label>
                        <input type="checkbox" checked="checked" name="sameadr" class="mt-4"> Shipping address same as billing
                    </label>
                    <!-- <input type="submit" value="Place your order" class="btn btn-danger checkoutBtn"> -->
                    <button class="btn btn-danger checkoutBtn p-3" id="orderplace" type="button">
                        <b>Place your order</b>
                    </button>
                </div>
            </div>
            <div class="col-25">
                <div class="container" id="cartItems"></div>
            </div>
        </div>
    </div>

    <footer class="footer bg-dark1 fixed-bottom1 mb-0">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-xs-12 col-sm-12 text-center">
                    <div class="copyright">
                        <small>© Copyright 2019 TopView Sightseeing
                            <sup>®</sup>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/checkout.js"></script>
</body>

</html>